/* styles.css */
.background-image-container {
    background-image: url("./components/BackGroundImage/PinkBackground.jpg");
    background-size: auto;
    background-position: center;
   
    height: 100vh; /* Adjust the height as needed */
  }
  